<!DOCTYPE html>

<html>
  <header>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }
      span {
        margin: 10px 0;
        display: block;
      }
    </style>
  </header>

  <body>
    <div class='container'>
      <h2>GoPizza</h2>
      <br/>

      <img src="https://github.com/jardelbordignon/gopizza/raw/main/app/src/assets/brand.png" width="100" />
      <br/>

      <h3>Oi, {{ name }}</h3>
      <br/>

      <span>
        Para realizar a alteração da sua senha, clique no link <br/>
        <a href={{ link }}>{{ link }}</a>
      </span>

      <span>Caso você não tenha solicitado a alteração, desconsidere esse e-mail</span>

      <h3>Equipe | <strong>GoPizza</strong></h3>
    </div>
  </body>
</html>
